.h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    word-wrap: break-word;
    &__light{
       color: $text-primary;
    }
    &__secondary{
        color: $text-secondary;
    }
}

.h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    word-wrap: break-word;

    &__secondary{
         color: $text-secondary;
    }
}

.h3{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
    word-wrap: break-word;
    &__secondary{
        color: $text-secondary;
    }
}

.h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    &__light{
        color: $text-primary;
    }
    &__secondary{
         color: $text-secondary;
    }
    &__secondary-2{
        color: $text-secondary-2;
    }
}


.h5{
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    &__light{
        color: $text-primary;
    }
}