/* Colors */

$primary:           #FFFFFF;
$secondary:         #4D533C;
$accent:            #FFD723;

$text-primary:      #FFFFFF;
$text-primary-2:    #7A888E;
$text-secondary:    #4D533C;
$text-secondary-2:  #B6C197;

$text-muted:        #D4D6D4;
$text-active:       #FFD723;

/* Fonts */

$main-font:'Poppins', sans-serif;
