.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 28px;
}
.header{
    background-image: url(/images/slide2.png);
    background-size: cover;
}
